body {
    background-color: #93E9BE;
    background-image: url('../images/surface.jpg'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#title
{
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-family: 'arial', serif;
  color: #e3ffee;
  text-shadow:
		3px 0px 0px black,   /* Right shadow */
		0px 0px 0px black,  /* Left shadow */
		0px 0px 0px black,   /* Bottom shadow */
		0px 0px 0px black;  /* Top shadow */
}

#inner-title
{
	font-size: 32px;
    text-align: center;
}

#loginDiv
{
	color: #ffffff;
	background-color: rgba(31,78,120,0.5);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 0px 35px 35px 35px;
	
	width: 600px;
	display: inline-block;
}

label
{
	font-size: 18px;
	font-family: 'arial', serif; 
	margin-top: 15px;
	color: #ffffff;
}

input{
    height: 50px;
    width: 45%;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
	margin-bottom: 15px;
    font-size: 15px;
	background: #ffffff;
	color: black;
}

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 1px;
    outline: none;
    border: none;
}

button{
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

button:hover 
{
	text-decoration: underline;
}

button:active 
{
  background-color: #A9C6D8;
}